<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Teacher</title>
        <link rel="stylesheet" href="../src/input.css">
        <link rel="stylesheet" href="../src/output.css">
         <link rel="shortcut icon" href="../assets/mendeley-brands.svg" type="image/x-icon">
        <link rel="stylesheet" href="../styles/adminCss.css">
        <script src="https://kit.fontawesome.com/a9bed58581.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Rubik+Wet+Paint&display=swap"
            rel="stylesheet">
    </head>
<body>
    <div class="page flex h-auto max-sm:min-h-[100vh]  ">

        <!--
            color :

            
        HEX Color	    Usage
        #0d1b2a     	Primary Background (Main body, navbar, sidebar)
        #1b263b	        Secondary Background (Cards, sections, hover states)
        #415a77	        Accent Elements (Buttons, active links, highlights)
        #778da9	- #8e9baa Text & Borders (Subtext, less important elements)
        #e0e1dd	        Primary Text (Headings, main text for contrast)
        flex-grow
        -->


        <!-- NavBar -->

        <aside id="teacher-sidebar"
            class="w-80   text-white p-4  bg-[#0d1b2a] overflow-y-auto transition-all duration-700  ">
            <!-- Sidebar content will be inserted here -->

        </aside>

        <div class="flex flex-col  flex-grow min-h-screen h-auto justify-between section" id="header-main-footer">

            <!-- Header Section-->

            <header id="teacher-header" class="bg-[#1b263b] text-white p-4 shadow-md flex justify-between items-center ">

            </header>

            <!-- Main Section -->

            <main id="main-section" class="bg-[#e0e1dd] max-sm:min-h-[100vh] h-auto  flex-1  " >
                <section id="dashboard" class="content-section hidden h-full"></section>
                <!-- <section id="teacher-main" class="content-section hidden h-full"></section> -->
                <section id="take-attendance" class="content-section hidden h-full"></section>
                <section id="student_list" class="content-section hidden h-full"></section>
                <section id="add_Student" class="content-section hidden h-full"></section>
                <section id="Teacher_list" class="content-section hidden h-full"></section>
                <section id="class_List" class="content-section hidden h-full"></section>
                <section id="notice" class="content-section hidden h-full"></section>
                <section id="notice_form" class="content-section hidden h-full"></section>
                <section id="message" class="content-section hidden h-full"></section>
                <section id="messageForm" class="content-section hidden h-full"></section>
                <section id="profile" class="content-section hidden h-full"></section>
            </main>

            <!-- Footer -->
            
            <footer id="teacher-footer"
                class="bg-[#1b263b] h-[4rem]  text-[#8e9baa] text-[1rem]  w-[100%] bottom-0 p-4 shadow-md flex justify-around items-center ">
            </footer>
        </div>
    </div>
</body>

<script src="../components/teacher/teacher-footer.js" defer></script>
<script src="../components/teacher/teacher-header.js" defer></script>
<!-- <script src="../components/teacher/teacher-main.js" defer></script> -->
<script src="../components/teacher/teacher-navbar.js" defer></script>
<script src="../components/teacher/dashboard.js" defer></script>
<script src="../components/teacher/classList.js" defer></script>
<script src="../components/teacher/messageForm.js" defer></script>
<script src="../components/teacher/messageList.js" defer></script>
<script src="../components/teacher/noticeForm.js" defer></script>
<script src="../components/teacher/noticeList.js" defer></script>
<script src="../components/teacher/profile.js" defer></script>
<script src="../components/teacher/take-attendance-a.js" defer></script>
<script src="../components/teacher/TeacherList.js" defer></script>
<script src="../components/teacher/studentList.js" defer></script>

<script src="../js/teacher/classSection.js" defer></script>
<script src="../js/teacher/dynamicPage.js" defer></script>
<script src="../js/teacher/forCalender.js" defer></script>
<script src="../js/teacher/forToggle.js" defer></script>

<script src="../js/teacher/fetchedData.js" defer></script>
</html>